<!-- {% load static %}
<html>
<head>
    <title>Add Application</title>
    <link rel="stylesheet" href="{% static 'tracker/style.css' %}">
</head>

<body>

    <div class="form-box">
        <h2>Add Job Application</h2>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit">Add Application</button>
        </form>

        <a href="{% url 'application_list' %}" class="back-link">
            ← Back to My Applications
        </a>
    </div>

</body>
</html> -->

{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Add Application</title>
    <link rel="stylesheet" href="{% static 'tracker/style.css' %}">
</head>

<body>

<div class="form-page">

    <div class="form-header">
        <a href="{% url 'application_list' %}" class="back-link">
            ← Applications
        </a>

        <h2>Add Job Application</h2>
        <p>Keep track of your job application.</p>
    </div>

    <div class="form-box">

        <form method="POST">
            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit">
                Add Application
            </button>
        </form>

    </div>

</div>

</body>
</html>