
{% load static %}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="{% static 'tracker/style.css' %}">
</head>

<body>

    <div class="login-box">
        <img src="{% static 'tracker/logo.png' %}" alt="Job Tracker Logo">

        <h2>Login</h2>

        <form method="POST">

            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit">
                Login
            </button>

        </form>

        <div class="signup-link">
            Don't have an account?
            <a href="{% url 'signup' %}">Register now</a>
        </div>

    </div>

</body>
</html>

